@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #3CCFAE;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-weight: normal;
	margin: 0;
}

.container {
	max-width: 1000px;
	display: block;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.primary {
  background-color: #F6FFF8;
}

.secondary {
	background-color: #FFFFFF;
}

.white {
	color: white;
}

.black {
	color: #333333;
}

.page {
	text-align: center;
	height: 100vh;
}

.accent {
	color: #92F1D7;
}

.project-wrap {
	display: block;
	width: 100%;
}

.project {
	width: 30%;
	min-width: 300px;
	display: inline-block;
	border: 1px solid white;
}

.project h3 {
	background: black;
}

.home {
  background: url(../img/concrete.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.projects {
  background: url(../img/concrete.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.experience {
	background: url(../img/grassdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;		
}

#logo {
	width: 160px;
	margin-top: 200px;
}